.webCaptures {
  position: relative;
}

.webCaptures_button > .MuiSvgIcon-root {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  color: white; */
  position: absolute;
  border-color: #fff;
  border-radius: 200px;
  color: gray;
  font-size: 40px !important;
  cursor: pointer;
  bottom: 0;
  transform: translate(270%, -50%);
}
